.tweetsContainer{
  width: 50%;
  margin: auto;
}
.tweetContainer{
  display: flex;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}
.tweetContainer .image {
  width: 150px;
  height: 150px;
  border: 1px solid;
  border-radius: 50%;
}
.tweetContainer .tweet {
  width: 80%;
}
.tweetContainer .footer{
  display: flex;
  justify-content: space-between;

}